<div class="au-card pie-recent-report">
    <div class="au-card-inner">
        <div *ngIf="!isMobileDevice" class="center">
            <label class="h3">{{currentCountry | titlecase}} COVID-19 Statistics</label>
        </div>
        <div *ngIf="isMobileDevice" class="center">
            <label class="h5">{{currentCountry | titlecase}} COVID-19 Statistics</label>
        </div>
        <div id="piechartdiv" [ngClass]="{'pie-chart-web': !isMobileDevice, 'pie-chart-mobile': isMobileDevice}"></div>
    </div>
</div>
