.center {
    display: flex;
    justify-content: center;
}

.pie-chart-web {
    height: 500px;
    width: 100%;
}

.pie-chart-mobile {
    height: 350px;
    width: 100%;
}

.pie-recent-report {
    padding-bottom: 65px;
    margin-bottom: 40px;
}