<div class="au-card globe-recent-report">
    <div class="au-card-inner">
        <div *ngIf="!isMobileDevice" class="center">
            <label class="h3">Global COVID-19 Statistics</label>
        </div>
        <div *ngIf="isMobileDevice" class="center">
            <label class="h5">Global COVID-19 Statistics</label>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a role="button" class="btn globe-btn-info float-right" (click)="onGlobeReset()">
                    <i class="fa fa-home"></i> Home
                </a>
            </div>
        </div>
        <div id="globechartdiv"></div>
    </div>
</div>