#globechartdiv {
    width: 100%;
    height: 500px;
    max-width:100%;
}

.center {
    display: flex;
    justify-content: center;
}

label {
    margin-bottom: 3%;
}

.globe-recent-report {
    padding-bottom: 0px;
    margin-bottom: 20px;
}

.globe-btn-info {
    color: #fff;
    background-color: #ffcccb;
    border-color: #f70024;
    cursor: pointer; margin: 20px;
}