<div [ngClass]="cssClass">
    <div class="overview__inner">
        <div class="overview-box clearfix">
            <div class="icon">
                <img width="64px" height="64px"
                    [src]="cardImage" />
            </div>
            <div class="text">
                <h2 *ngIf="cases!=''; else empty1">{{cases}}</h2>
                <ng-template #empty1>
                    <h2>0</h2>
                </ng-template>
                <span><strong>{{cardLabel}}</strong></span>
            </div>
        </div>
        <div class="overview-chart">
            <canvas *ngIf="isChartEnabled" baseChart height="130" [datasets]="chartData"
                [labels]="chartLabels" [options]="chartOptions" [chartType]="chartType"></canvas>
        </div>
    </div>
</div>
