<div class="container-fluid">
    <div class="row m-t-25">
        <div class="col-lg-3"></div>
        <div class="col-sm-12 col-lg-6">
            <div class="center carousel">
                <img class="rounded float-right" width="64"
                    style="height: calc(1.5em + .75rem + 2px); margin-right: 2px;" [src]="flagUrl">
                <select (change)="onCountryChange($event.target.value)" class="form-control">
                    <option value="World" default>World</option>
                    <option value="India">India</option>
                    <optgroup label="Top Countries">
                        <option value="USA">USA</option>
                        <option value="Spain">Spain</option>
                        <option value="Italy">Italy</option>
                        <option value="France">France</option>
                        <option value="Germany">Germany</option>
                        <option value="China">China</option>
                    </optgroup>
                    <optgroup label="Others">
                        <option [value]="country" *ngFor="let country of countries">
                            {{country}}
                        </option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
    <div class="row m-t-25">
        <div class="col-sm-6 col-lg-3">
            <app-card [cardType]="'totalCases'" [currentCountry]="currentCountry"></app-card>
        </div>
        <div class="col-sm-6 col-lg-3">
            <app-card [cardType]="'deathCases'" [currentCountry]="currentCountry"></app-card>
        </div>
        <div class="col-sm-6 col-lg-3">
            <app-card [cardType]="'activeCases'" [currentCountry]="currentCountry"></app-card>
        </div>
        <div class="col-sm-6 col-lg-3">
            <app-card [cardType]="'recoveredCases'" [currentCountry]="currentCountry"></app-card>
        </div>
    </div>
    <app-pie-chart-stat [currentCountry]="currentCountry"></app-pie-chart-stat>
    <app-globe></app-globe>
</div>

<footer>
    <div style="background-color: #6351ce;">
        <div class="footer-copyright text-center" style="color: aquamarine;">© 2020 Copyright:
            <a href="/dashboard" style="color: white;">codenextzen.com</a>
            <h6>Developed By</h6>
            <h5>Mr. Sujeet and Sumit Kumar</h5>
            <a href="mailto:info@codenextzen.com?Subject=Covid-19%20Feedback" style="color: #dc8100; text-decoration: none;">Contact Us</a>
        </div>
    </div>
</footer>