<div class="container-fluid">
    <div class="row m-t-25">
        <div class="col-sm-12 col-lg-12">
            <article class="centered">
                <h1>We&rsquo;ll be back soon!</h1>
                <div>
                    <p class="h5">Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment. If you need to you can always <a href="mailto:info@codenextzen.com">contact us</a>, otherwise we&rsquo;ll be back online shortly!</p>
                    <p>&mdash; CodeNextZen Team</p>
                </div>
            </article>
        </div>
    </div>
</div>
