body { text-align: center; padding: 150px; }
h1 { font-size: 50px; }
body { font: 20px Helvetica, sans-serif; color: #333; }
article { display: block; text-align: center; margin: 0 auto; }
a { color: #dc8100; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }
.centered {
    position: fixed;
    top: 50%;
    /*left: 50%; */
    /* bring your own prefixes */
    transform: translate(0%, -50%);
}