/* You can add global styles to this file, and also import other style files */
.overview-item--c1 {
    background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
}
.overview-item--c3 {
    background-image: -webkit-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
}
.overview-item--c4 {
    background-image: -webkit-linear-gradient(90deg, #45b649 0%, #dce35b 100%);
}
.overview-item--c2 {
    background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
}

.modal-open .modal {
    display: flex !important;
    align-items: center !important;
}
